body{
  font-family:helvetica,arial,serif;
}
ul{
  list-style-type:none;
  margin:0px auto;
}
li{
  margin:30px auto;
}
input[type=text] {
    padding:5px 15px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size:24px;
    width:50%;

}

input[type=text]:focus {
    border-color:#333;
}

input[type=reset], input[type=button]{
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size:24px;
}
